/* navigation  */
@media (max-width: 1024px) {
  .nav-bar a {
    padding-bottom: 0.8vw;
    padding-top: 0.8vw;
  }
  .header-hero {
    height: 40vh;
  }
}
@media (max-width: 768px) {
  .nav-bar {
    flex-direction: column;
    align-items: center;
  }
  .nav-bar a {
    font-size: 2vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
  }
  .header-hero {
    height: 30vh;
  }
  .nav-bar {
    gap: 0px;
  }
  .logo-item {
    width: 28vw;
  }
}
@media (max-width: 540px) {
  .nav-bar a {
    font-size: 2.5vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
  }
  .header-hero {
    height: 30vh;
  }
  .logo-item {
    width: 35vw;
  }
}
@media (max-width: 450px) {
  .header-hero {
    height: 30vh;
  }
  .header-hero {
    height: 20vh;
  }
}
@media (max-width: 380px) {
  .nav-bar {
    font-size: 0.6rem;
  }
  .header-hero {
    height: 20vh;
  }
  .logo-item {
    width: 40vw;
  }
}
@media (max-width: 320px) {
  nav a {
    font-size: 0.6rem;
  }
  .header-hero {
    height: 15vh;
  }
  .logo-item {
    width: 45vw;
  }
}

/* gift section */
@media (max-width: 1024px) {
  .gift-ideas_content {
    gap: 7vw;
  }
  .blog_description p {
    font-size: 2vw;
  }
  .blog_title h1 {
    font-size: 4.3vw;
  }
  .blog_title h2 {
    font-size: 2vw;
  }
  .gift-ideas_item_one p:last-of-type {
    font-size: 2vw;
    width: 33vw;
  }
  .gift-ideas_item_one h1 {
    font-size: 3vw;
  }
  .date_and_category {
    font-size: 2vw;
  }
  .date_and_category span {
    font-size: 1.9vw;
  }
}
@media (max-width: 768px) {
  .blog_description p {
    font-size: 2.5vw;
  }
  .blog_title h1 {
    font-size: 4.6vw;
  }
  .blog_title h2 {
    font-size: 2.5vw;
  }
  .gift-ideas_item_one p:last-of-type {
    font-size: 2.5vw;
  }
  .date_and_category {
    font-size: 2.5vw;
  }
  .date_and_category span {
    font-size: 2.5vw;
  }
}
@media (max-width: 540px) {
  .blog_description p {
    font-size: 3vw;
  }
  .blog_title h1 {
    font-size: 5vw;
  }
  .blog_title h2 {
    font-size: 3vw;
  }
  .gift-ideas_item_one p:last-of-type {
    font-size: 3vw;
  }
  .date_and_category {
    font-size: 2.8vw;
  }
  .date_and_category span {
    font-size: 2.8vw;
  }
}

@media (max-width: 450px) {
  .blog_description p {
    font-size: 3.5vw;
  }
  .blog_title h1 {
    font-size: 5.3vw;
  }
  .blog_title h2 {
    font-size: 3.5vw;
  }
  .gift-ideas_item_one p:last-of-type {
    font-size: 3.5vw;
  }
  .date_and_category {
    font-size: 3vw;
  }
  .date_and_category span {
    font-size: 3vw;
  }
}
@media (max-width: 380px) {
  .blog_description p {
    font-size: 3.8vw;
  }
  .blog_title h2 {
    font-size: 3.5vw;
  }
  .gift-ideas_item_one p:last-of-type {
    font-size: 3vw;
  }
  .date_and_category {
    font-size: 3.2vw;
  }
  .date_and_category span {
    font-size: 3.3vw;
  }
}
/*footer section */

@media (max-width: 768px) {
  .social-media img {
    width: 4vw;
  }
  .fotter-bar a {
    font-size: 2vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
  }
  .fotter-bar {
    flex-direction: column;
  }
  .description-footer p {
    font-size: 2.5vw;
    margin-bottom: 2.5vw;
  }
  .copyright p {
    font-size: 2vw;
    padding-bottom: 2vw;
  }
  .footer-logo {
    width: 28vw;
  }
}
@media (max-width: 540px) {
  .social-media img {
    width: 4vw;
  }
  .fotter-bar a {
    font-size: 2.5vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
  }
  .description-footer p {
    font-size: 2.8vw;
    margin-bottom: 2.8vw;
  }
  .copyright p {
    font-size: 2vw;
    padding-bottom: 2vw;
  }
  .footer-logo {
    width: 35vw;
  }
}
@media (max-width: 380px) {
  .social-media img {
    width: 4vw;
  }
  .description-footer p {
    font-size: 3.2vw;
    margin-bottom: 4vw;
  }
  .fotter-bar a {
    font-size: 2.5vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
  }
  .footer-logo {
    width: 40vw;
  }
}

@media (max-width: 320px) {
  nav a {
    font-size: 0.6rem;
  }
  .header-hero {
    height: 15vh;
  }
  .footer-logo {
    width: 45vw;
  }
}
